/* 
Paleta de colores https://coolors.co/d8dbe2-a9bcd0-58a4b0-373f51-1b1b1e
#D8DBE2 gainsboro (gris clarito)
#A9BCD0 light steel blue
#58A4B0 cadet blue
#373F51 charcoal (azul opaco)
#1B1B1E raisin black 
*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

/* navbar */

.navbar {
    background: #D8DBE2;
    border-bottom: 1px solid #1B1B1E ;
}

.navbar a {
    color: #1B1B1E;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    list-style: none;
    word-spacing: 1px;
    display: inline;
}

.navbar a:hover {
    color: #373F51;
    letter-spacing: 1px;
}


/* footer */

footer {
    background-color: #1B1B1E;
}

.social-icons i {
    font-size: 15px;
    margin: 10px 10px 10px 10px;
    color: #A9BCD0;
}

/* index */

.index {
    height: 92vh;
}

/* sobre mi */

.body-sobre-mi {
    background-image: url("/assets/images/backgrounds/background-texture.jpg");
    background-repeat: no-repeat;
    height: 87vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.memocard:hover {
    transform: scale(1.5);
    
}

.memofoto:hover {
    animation: rotation 2s infinite linear;
}
@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }

/* algunos trabajos */

 a img{ 
    width: 25%;
    border: 2px solid #000000;
}

/* contactame */
 .contactame-formulario {
    color: #1B1B1E;
    background-image: linear-gradient(to right, #A9BCD0 , #373F51);
    height: 100vh;

 }

 /* faq */

 .body-faq {
    background-image: url("/assets/images/backgrounds/Background-librodedibujos.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 92vh  
 }

 .faq-grid {
    display: grid;
    grid-template-columns: 95% 5%;
 }

 .faq-footer {
    display: flex;
    align-items: center;
 }