/* Variables - Paleta de colores https://coolors.co/d8dbe2-a9bcd0-58a4b0-373f51-1b1b1e */
$color-1-gainsboro: #D8DBE2; /* gris clarito */
$color-2-ligthsteelblue: #A9BCD0; /* celeste */
$color-3-teal: #0bc3b5; /* turquesa */
$color-4-charcoal: #373F51; /* azul opaco*/
$color-5-raisin-black: #1B1B1E; /* negro */